.icon-chevron-down-white {
    background: var(--white) !important;
    mask-position: -192px 0;
    mask-image: url('../../assets/img/Icon.569cfdf.svg');
}

.ms-icon {
    width: 24px!important;
    height: 24px!important;
    margin: 0 !important;
    display: inline-block;
    mask-image: url('../../assets/img/Icon.569cfdf.svg');
    mask-repeat: no-repeat;
}

.icon-search {
    margin-right: 8px;
    background-color: #666!important;
    -webkit-mask-position: -120px 0;
    mask-position: -120px 0;
}

.icon-check {
    background-color: var(--primary)!important;
    -webkit-mask-position: -216px -48px;
    mask-position: -216px -48px;
    position: absolute;
    right: 16px;
}

.icon-add {
    background-color: var(--white)!important;
    -webkit-mask-position: -192px -24px;
    mask-position: 192px -24px;
}

.icon-clock {
    background-color: #666!important;
    -webkit-mask-position: 0 -48px;
    mask-position: 0 -48px;
}

.icon-filter {
    background-color: #666!important;
    -webkit-mask-position: -240px -48px;
    mask-position: -240px -48px;
}

.icon-chevron-down-black {
    background-color: #666!important;
    -webkit-mask-position: -192px 0;
    mask-position: -192px 0;
}