.ms-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding-left: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.ms-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    border: 2px solid #737888;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--white);
}


/* When the checkbox is checked, add a blue background */

.ms-checkbox input:checked~.checkmark {
    border-color: var(--primary);
    background-color: var(--primary);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.ms-checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.ms-checkbox .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}