/*-----------------------
Dropdown item
-----------------------*/

.ms-dropdown-menu {
    width: max-content;
    height: auto;
    position: absolute;
    top: 50px;
    background: white;
    list-style: none;
    text-align: left;
    padding: 8px !important;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.ms-dropdown-item {
    border-radius: 3px;
    margin: 4px 0;
    border: 1px solid transparent;
    padding: 0 !important;
    height: 36px;
}

.ms-dropdown-item:hover {
    background: var(--dropdown-item-hover);
    cursor: pointer;
    color: #212121;
}

.ms-dropdown-item:hover .ms-dropdown-link {
    color: #333 !important;
}

.ms-dropdown-link {
    padding-left: 8px;
    padding-right: 32px;
    height: 100%;
    width: 100%;
    color: #333 !important;
    text-decoration: none;
}

.ms-dropdown-link.active {
    background: var(--dropdown-item-hover);
    color: var(--primary) !important;
}

.router-link-active {
    background: var(--dropdown-item-hover);
    color: var(--primary) !important;
}