.ms-grid {
    width: auto;
    height: 100%;
}

.grid-footer {
    height: 61px;
    padding: 10px 0;
    background: var(--white);
    border-top: 1px solid rgb(224, 224, 224) !important;
}

.ms-grid-row:hover {
    background-color: var(--primary-bg) !important;
    cursor: pointer !important;
}

.ms-grid-row.selected {
    background-color: #fff4e5;
}

.ms-grid-header {
    color: var(--black) !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    z-index: 0 !important;
}

.ms-grid td,
.ms-grid th {
    border-bottom-color: rgb(224, 224, 224) !important;
}