.ms-navbar {
    background: var(--white) !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: var(--navbar-height);
    width: 100%;
}


/*----------------
    Navbar Header
----------------*/

.ms-navbar--header {
    min-width: var(--navbar-header-width);
    height: 32px;
    margin-right: 35px;
}

.app-info {
    width: 100%;
    height: 100%;
}

.box-app-menu {
    margin-left: 24px;
    margin-right: 16px;
    width: 18px;
    height: 18px;
    background-image: url('../../assets/img/headerImage.svg');
    cursor: pointer;
}


/*-----------------
    Logo Header
-----------------*/

.logo {
    width: 42px;
    height: 32px;
}

.logo-img {
    width: 32px;
    height: 32px;
}

.logo-img img {
    width: 100%;
}

.logo-text {
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
    letter-spacing: 0.13px;
}


/*-----------------
    Menu Container
-----------------*/

.ms-con-items {
    height: var(--menu-height);
    width: calc(100vw - var(--navbar-header-width));
    min-width: 1024px;
    overflow: hidden;
}