/*----------------------
    Import Component Css
----------------------*/

@import 'vue-select/dist/vue-select.css';
@import './components/msNavbar.css';
@import './components/msNavbarItem.css';
@import './components/msDropdown.css';
@import './components/msDropdownItem.css';
@import './components/msMenu.css';
@import './components/msGrid.css';
@import './components/msCheckbox.css';
@import './layouts/mainLayout.css';
@import './common/icon.css';
@import './lib/overide.css';

/*----------------------
    Declare Varialbe
----------------------*/

:root {
    --primary: #ec5504;
    --primary-bg: #ffede2;
    --white: #fff;
    --black: #212121;
    --hint-text-color: #ddd;
    --navbar-header-width: 200px;
    --text-box-height: 36px;
    --combo-box-height: 36px;
    --input-border-radius: 4px;
    --input-normal-border-color: #e0e0e0;
    --input-active-border-color: #ec5504;
    --input-hover-border-color: #ec5504;
    --input-disable-border-color: #dadce3;
    --input-disable-bg-color: #e8eaef;
    --input-error-border-color: #ff6161;
    --combobox-highlight-bg-color: #ffede2;
    --combobox-highlight-color: #ec5504;
    --combobox-color: #000;
    --tab-color: #ec5504;
    --tab-bg: #ec5504;
    --tab-border: #ec5504;
    --combobox-selected-bg: #e6e8ed;
    --date-picker-active-bg: #ec5504;
    --date-picker-range-bg: #ffede2;
    --date-picker-hover-bg: #ffede2;
    --date-picker-color-today: #ec5504;
    --button-height: 36px;
    --menu-height: 38px;
    --navbar-height: 56px;
    --button-border-radius: 4px;
    --button-primary-color: #fff;
    --button-primary-normal-bg-color: #ec5504;
    --button-primary-normal-border-color: #ec5504;
    --button-primary-hover-bg-color: #fa6000;
    --button-primary-hover-border-color: #fa6000;
    --button-primary-active-bg-color: #e35102;
    --button-primary-active-border-color: #e35102;
    --button-primary-disabled-color: rgba(255, 255, 255, 0.56);
    --button-primary-disabled-bg-color: rgba(236, 85, 4, 0.56);
    --button-primary-disabled-border-color: rgba(236, 85, 4, 0.56);
    --button-primary-focus-bg-color: #fa6000;
    --button-primary-focus-border-color: #fa6000;
    --grid-loading-color: 236, 85, 4;
    --dropdown-item-hover: #ffede2;
    --dropdown-item-active-color: #ec5504;
}


/*----------------------
    Style Common
----------------------*/

* {
    font-family: "Roboto";
    font-size: 14px;
}

.m-r-24 {
    margin-right: 24px !important;
}

.m-r-8 {
    margin-right: 8px !important;
}

.m-l-8 {
    margin-left: 8px !important;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}


/*------------------------------
    Remove Scroll bar vuetify
-------------------------------*/

html {
    overflow-y: auto;
    color: var(--black);
}